
{% paginate search.results by 50 %}
{% if search.performed %}
	{% if search.results_count == 0 %}
	<h1 id="keyword" >
		Sorry, we couldn't find anything matching <span>{{ search.terms | escape }}</span>
	</h1>
            <div id="product-search" class="container no-search-results">
            <form action="/search" method="get" class="sixteen columns search-form" role="search">
                <input type="hidden" name="type" value="product" />
                <input type="submit" id="search-submit" class="icon {% if settings.light_search_icon %}light{% endif %}" />
                <input class="search" placeholder="Try another search" name="q" type="text" id="search-field"  />
            </form>
            <br class="clear">
        </div>
	{% else %}
	<h1 id="keyword">
		Results for <span>{{ search.terms | escape }}</span>
	</h1>
	<!--START PRODUCT GRID-->
	<section class="product-grid">
		{% for item in search.results %}
			{% assign product = item %}
			{% include 'product-grid-item' %}
		{% else %}
			<p>There are no products in this view.</p>
		{% endfor %}
	</section>
	<!--END PRODUCT GRID-->
	{% endif %}
{% else %}
<p>No search performed. If you are looking for something, please try our <a href="/">homepage</a></p></p>
{% endif %}
{% include 'paging' %}
{% endpaginate %}
